################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bookingfootball/.vs/bookingfootball

/.vs/hc/v17
.vs/
/bookingfootball/bookingfootball/obj
/bookingfootball/Mvc/obj/Debug/net8.0

/bookingfootball/bookingfootball/bin
/bookingfootball/Mvc/obj
/bookingfootball/Mvc/bin